.pt-card {
    flex: 0 0 300px;
    margin-right: 10px;
    box-sizing: border-box;
    background-color: rgba(47, 79, 79, 1);
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.pt-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.pt-card h3 {
    color: #FFFACD;
    margin-bottom: 10px;
}

.pt-card button {
    background-color: #2f4f4f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.pt-card button:hover {
    background-color: #96e7ae;
}
