/* PTCard.css */
.pt-cards-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    align-items: center;
}

.pt-cards-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.pt-card {
    flex: 0 0 300px;
    margin-right: 10px;
    box-sizing: border-box;
}

.navigation-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    z-index: 1;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-button.left {
    left: 10px;
}

.navigation-button.right {
    right: 10px;
}
